---
import ArrowButton from "@/components/ArrowButton.astro";
import Dropdown from "@/components/Dropdown.astro";
import SettingsCard from "@/components/SettingsCard.astro";
import Layout from "@/layouts/Main.astro";
import {
  ExternalLink,
  EyeOff,
  Info,
  Search,
  Settings2,
  Siren,
  SwatchBook,
} from "lucide-astro";
---

<Layout>
  <div class="flex justify-center py-8 flex-col items-center gap-4 mt-24">
    <div class="text-4xl font-bold text-text inline-flex">
      <Settings2 class="transform -translate-y-1 size-12 mr-2" />
      Settings
    </div>
    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 p-4 justify-center w-full">
      <SettingsCard description="Access our site through an about:blank tab." title="About:Blank" Icon={ExternalLink}>
        <ArrowButton id="AB" title="Open Popup" />
      </SettingsCard>
      <SettingsCard description="Change the name and title of every single page on our site." title="Tab Cloaker" Icon={EyeOff}>
        <Dropdown
          id="cloaker"
          text="Tab Cloaker"
          menu={[
            { value: "Britannica", text: "Britannica" },
            { value: "Big_Ideas_Math", text: "Big Ideas Math" },
            { value: "Big_Ideas_Math_Assignment_Player", text: "Big Ideas Math Assignment Player" },
            { value: "Canvas", text: "Canvas" },
            { value: "ClassLink_Login", text: "ClassLink Login" },
            { value: "Classroom", text: "Classroom" },
            { value: "Clever", text: "Clever" },
            { value: "DeltaMath", text: "DeltaMath" },
            { value: "Desmos", text: "Desmos" },
            { value: "Dictionary", text: "Dictionary" },
            { value: "Ducksters", text: "Ducksters" },
            { value: "Drive", text: "Drive" },
            { value: "Edpuzzle", text: "Edpuzzle" },
            { value: "Gmail", text: "Gmail" },
            { value: "Google", text: "Google" },
            { value: "Google_Docs", text: "Google Docs" },
            { value: "Google_Forms_Locked_Mode", text: "Google Forms Locked Mode" },
            { value: "Google_Meet", text: "Google Meet" },
            { value: "Google_Slides", text: "Google Slides" },
            { value: "IF_Campus", text: "Infinite Campus" },
            { value: "i-Ready_Math", text: "i-Ready Math" },
            { value: "i-Ready_Reading", text: "i-Ready Reading" },
            { value: "i-Ready_Learning_Games", text: "i-Ready Learning Games" },
            { value: "IXL", text: "IXL" },
            { value: "Kami", text: "Kami" },
            { value: "Khan", text: "Khan" },
            { value: "LinkIt", text: "LinkIt" },
            { value: "Minga", text: "Minga" },
            { value: "Naviance_Student", text: "Naviance" },
            { value: "Nearpod", text: "Nearpod" },
            { value: "NoRedInk_Home", text: "NoRedInk Home" },
            { value: "Newsela_Assignments", text: "Newsela Assignments" },
            { value: "Newsela_Binder", text: "Newsela Binder" },
            { value: "Newsela_Home", text: "Newsela Home" },
            { value: "PBS_LearningMedia", text: "PBS Learning Media" },
            { value: "PBS_LearningMedia_Student_Home", text: "PBS Learning Media Student Home" },
            { value: "PowerSchool_Attendance", text: "PowerSchool Attendance" },
            { value: "PowerSchool_Grades_and_Attendance", text: "PowerSchool Grades and Attendance" },
            { value: "PowerSchool_Sign_In", text: "PowerSchool Sign In" },
            { value: "PowerSchool_Standards_Grades", text: "PowerSchool Standards Grades" },
            { value: "PowerSchool_Teacher_Comments", text: "PowerSchool Teacher Comments" },
            { value: "Quizlet_Home", text: "Quizlet Home" },
            { value: "Savvas", text: "Savvas Realize" },
            { value: "Schoology", text: "Schoology" },
            { value: "SmartPass", text: "SmartPass" },
            { value: "StudentVUE", text: "StudentVUE" },
            { value: "Thesaurus", text: "Thesaurus" },
            { value: "Wikipedia", text: "Wikipedia" },
            { value: "World_History_Encyclopedia", text: "World History Encyclopedia" },
            { value: "WBO_SuperHome", text: "World Book Online - Super Home" },
            { value: "WBO_Student", text: "World Book Online - Student" },
            { value: "WBO_Timelines", text: "World Book Online - Timelines" },
          ]}
        />
        <div class="flex px-4 py-3 rounded-md border-2 border-border overflow-hidden w-full mt-2 mb-2">
          <input id="custom-title" placeholder="Custom Tab Title" class="w-full outline-none bg-transparent text-text text-sm" />
        </div>
        <div class="flex px-4 py-3 rounded-md border-2 border-border overflow-hidden w-full mt-2 mb-2">
          <input id="custom-icon" placeholder="Custom Tab Icon" class="w-full outline-none bg-transparent text-text text-sm" />
        </div>
      </SettingsCard>
      <SettingsCard
        description="Quickly open another website that will replace the current website by pressing a button. (This is also the site that is opened when you cloak the site.)"
        title="Panic Key"
        Icon={Siren}
      >
        <div class="flex px-4 py-3 rounded-md border-2 border-border overflow-hidden w-full mt-2 mb-2">
          <input id="key" placeholder="Panic Key" class="w-full outline-none bg-transparent text-text text-sm" />
        </div>
        <div class="flex px-4 py-3 rounded-md border-2 border-border overflow-hidden w-full">
          <input id="link" placeholder="Panic Link" class="w-full outline-none bg-transparent text-text text-sm" />
        </div>
      </SettingsCard>
      <SettingsCard description="Choose your own search engine. (Default: Google)" title="Search Engine" Icon={Search}>
        <Dropdown
          id="engine"
          text="Select Search Engine"
          menu={[
            { value: "Bing", text: "Bing" },
            { value: "DuckDuckGo", text: "DuckDuckGo" },
            { value: "Ecosia", text: "Ecosia" },
            { value: "Google", text: "Google" },
            { value: "Qwant", text: "Qwant" },
            { value: "SearchEncrypt", text: "SearchEncrypt" },
            { value: "Startpage", text: "Startpage" },
          ]}
        />
        <div class="flex px-4 py-3 rounded-md border-2 border-border overflow-hidden w-full mt-2 mb-2">
          <input id="custom-engine" placeholder="Custom Search Engine" class="w-full outline-none bg-transparent text-text text-sm" />
        </div>
      </SettingsCard>
      <SettingsCard description="Customize the theme of the site." title="Themes" Icon={SwatchBook}>
        <Dropdown
          id="theme"
          text="Select Theme"
          menu={[
            { value: "Default", text: "Default" },
            { value: "Black", text: "Black" },
            { value: "White", text: "White" },
          ]}
        />
      </SettingsCard>
      <div class="w-full bg-background-settings rounded-lg p-5 shadow-inner border-accent-secondary border-[2.5px]">
        <div class="flex items-center gap-2">
          <Info class="size-6" />
          <h3 class="font-extrabold text-2xl mt-0">Information</h3>
        </div>
        <p class="font-light">
          Version: <span class="font-bold">6.0.1</span><br />
          Last Updated: <span class="font-bold">{new Date(__COMMIT_DATE__).toLocaleString()}</span><br />
          If you have any questions or concerns, please contact us at
          <a class="font-medium" href="mailto:hello@gointerstellar.app">hello@gointerstellar.app</a>
          or visit our
          <a class="font-medium" href="https://discord.gg/interstellar">Discord</a>
          or read our
          <a class="font-medium" href="https://docs.gointerstellar.app/">Documentation</a>.
        </p>
      </div>
    </section>
    <div>
      <h1 class="mt-2 font-extrabold text-5xl">Customization</h1>
    </div>
    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 p-4 justify-center">
      <SettingsCard description="Customize the theme of the site." title="UI" Icon={SwatchBook} />
    </section>
  </div>
  <script is:inline src="/src/lib/settings.ts"></script>
</Layout>
