---
import SettingsCard from "@/components/SettingsCard.astro";
import Layout from "@/layouts/Main.astro";
import { Atom, ExternalLink, EyeOff, Search, Siren, SwatchBook } from "lucide-astro";
---

<Layout>
  <div class="flex flex-col gap-2 justify-center items-center">
    <div>
      <h1 class="font-extrabold text-4xl">Cloaking & Privacy</h1>
    </div>
    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 p-4 justify-center">
      <SettingsCard description="You can open the site in about:blank down below." title="About:Blank" Icon={ExternalLink} />
      <SettingsCard description="Change the title and icon of the page" title="Tab Cloaker" Icon={EyeOff} />
      <SettingsCard description="Quickly open another site with press of one key." title="Panic Key" Icon={Siren} />
    </section>
    <div>
      <h1 class="font-extrabold text-4xl">Customization</h1>
    </div>
    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 p-4 justify-center">
      <SettingsCard description="Change the search engine when searching" title="Search Engine" Icon={Search} />
      <SettingsCard description="Pick from a variety of themes to customize your experience." title="Themes" Icon={SwatchBook} />
      <SettingsCard description="Choose from a variety of particles to customize your experience on the home page." title="Particles" Icon={Atom} />
    </section>
  </div>
</Layout>
